.logo{
	width: 100px;
}
.pie{
	background-color: #028093;
	padding: 25px;
	color: white;

}
.fondo{
	background-color: #1f2226;
	color: white;
}
.mapa{
	width: 150px;
}

.banner{
	background-image: url("images/58.jpg");
	color: #028093;
	font-size: 1rem;
	padding: 50px 5px 150px 5px;
}

.imagenes {
	width: 600px;
}

.imagen-grande{
	max-width: 100%;

}
.noticia{
font-size: 1rem;
}
.foto{
	max-width: 100%;
}
.borde{
	border-bottom: 2px solid #028093;
}
.borde2{
	border-left: 2px solid #028093;
}
#carouselExampleControls{
	margin-top: 80px;
}
.margen-top{
	margin-top: 100px;
}
